@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
    color: #3F5E81;
}

/*headings and logo*/

header {
    position: fixed;
    top:0;
    background-color: white;
    width: 100%;
    height: 70px;
}

h1, h2 {
    font-family: noto serif display, sans-serif;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 230%;
    color:#915E61;
    margin: 5px 0 0 20px;
}

/*
#logo {
    height: ;
    float: left;
}
*/

/* hero image*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat;
    background-size: cover;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/*navigation*/

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    float: right;
    margin-top:25px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu #logo {
    line-height: 85px;
}

#menu a:hover {
    color:#915E61;
    font-weight: bold;
}

/*Studio Main*/
#studio-main {
    height: 1300px;
}

#studio-main h2 {
    text-align: center;
    text-transform: uppercase;
}

.studio-text {
    margin: 20px;
    width:40%;
    float: left;
    min-height: 350px;
    text-align: justify;
    padding: 0 10px;
}

.studio-text-right {
    margin: 20px;
    width:40%;
    float: right;
    min-height: 350px;
    text-align: justify;
    padding: 0 10px;

}

.photo-container {
    margin: 20px;
    width: 350px;
    height: 350px;
    float: right; 
}

.studio-photo {
    width: 250px;
    height: 350px;
    border-radius: 30%;
    margin:0 auto;
    clear: both;
    display: inline-block;
}

/* Pricing*/

.class-prices {
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
    margin: 15px;
    display: inline-block;
}

.class-price-type {
    padding: 25px;
    background: #D3B9B4;
    text-align: center;
    text-transform: uppercase;
}

.price {
    padding: 25px;
    border-top: 1px solid #D3B9B4;
    text-align: center;
}

.price-p-c {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price-text {
    font-size: 15px;
    margin: 0 10;
}


/*Schedule*/

table, th, td {
    border-bottom: 1px solid #915E61;
    border-collapse: collapse;
    border-radius: 10px;
}

table {
    width: 90%;
    height: 800px;
    margin: 20px;
}

th, td {
    text-align: center;
    font-weight: bold;
}

th {
    background-color: #D3B9B4;
    font-weight: bold;
    text-transform: uppercase;
    padding:  5px 20px;
}

tr {
    width: 20px;
    height: 15px;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #f0e5e3;
}

.time {
    font-size: 20px;
}
/*footer*/

footer{
    background-color: #915E61;
    min-height: 180px;
    margin:0;
    width: 100%;
    float:left;
}
.address {   
float: right;
color:#F9F8F8;
font-size: 12px;
display: inline-block;
padding: 20px;
}

.times {    
float: right;
font-size: 12px;
color:#F9F8F8;
display: inline-block;
padding: 20px;
}
.social {
    color:#F9F8F8;
    float: right;
    width: 100%;
    text-align: right;
    padding: 0 40px 0 0;
}

.social li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    float: right;
}

.social li a {
    color:#F9F8F8;
}

.social i {
    font-size: 15px;
}

/*For medium screen sizes 950px wide and down*/
@media screen and (max-width: 950px) {

 #menu {
    clear: left;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 25px;
 }
 
 #studio-main {
    width: 90%;
    height: 2600px;
    margin: 0 auto;
 }

 .studio-text, .studio-text-right {
    width: inherit;
 }


.photo-container {
    width: 90%;
    margin: 0 auto;
}
}