@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
    color: #3F5E81;
}

/*headings and logo*/

h1, h2 {
    font-family: noto serif display, sans-serif;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 230%;
    color:#915E61;
}

/* hero image*/

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero-image-re.jpg') no-repeat;
    background-size: contain;

}