@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: open sans, sans-serif;
    color: #3F5E81;
}

/*headings and logo*/

header {
    position: fixed;
    top:0;
    background-color: #f0e5e3;
    width: 100%;
    height: 70px;
}

h1, h2 {
    font-family: noto serif display, sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
}

#logo {
    float: left;
    font-size: 230%;
    color:#915E61;
    margin: 5px 0 0 20px;
}

/* hero image*/

#hero-image {
    height: auto;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
}
#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.hero-other {
    height: auto;
    width: 100%;
    background: no-repeat;
    background-size: cover;
}

/*navigation*/

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    float: right;
    margin-top:25px;
    font-weight: bolder;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu #logo {
    line-height: 85px;
}

#menu a:hover {
    color:#915E61;
    font-weight: bold;
}

/*Studio Main*/
#studio-main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#studio-main h2 {
    text-align: center;
    text-transform: uppercase;
}

.studio-cont{
    flex: 50%;
}

.studio-text {
    margin: 20px;
    flex:50%;
    float: left;
    min-height: 350px;
    text-align: justify;
    padding: 0 10px;
}

.text-cont{
    margin: 30px 10%;
}

.studio-photo {
    width: 400px;
    height: 240px;
    border-radius: 6%;
    margin: 50px 10%;
    clear: both;
    display: inline-block;
}

/* Pricing*/
#table-container {
    overflow-x:auto;
    text-align: center;
}

#price-container {
    text-align: center;

}

.class-prices {
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
    margin: 15px;
    display: inline-block;
}

.class-price-type {
    padding: 25px;
    background: #D3B9B4;
    text-align: center;
    text-transform: uppercase;
}

.price {
    padding: 25px;
    border-top: 1px solid #D3B9B4;
    text-align: center;
}

.price-p-c {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price-text {
    font-size: 15px;
    margin: 0 10;
}


/*Schedule*/
#timetable-text {
    text-align: center;
    text-transform: uppercase;
}

table, th, td {
    border: 1px solid #915E61;
    border-collapse: collapse;
    }

table {
    width: 100%;
    height: auto;
    margin: 20px;
    white-space: normal;
}

th, td {
    text-align: center;
    font-weight: bold;
    font-size: small;
    vertical-align: top;
    }

th {
    background-color: #D3B9B4;
    font-weight: bold;
    text-transform: uppercase;
    padding:  5px;
    vertical-align: center;
}

td {
    padding: 10px 0;
}

tr {
    width: 20px;
    height: 15px;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #f0e5e3;
}

.time {
    font-size: 20px;
}

/*Contact Form */
#contact-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
} 

.contact-section {
    flex:1;
    height: 600px;
    float: left;
    padding: 20px;
    background-color: #3F5E81;
 }
 .blue {
    background-color: #f0e5e3;
 }

.text-input {
    color: #915E61;
    width: 90%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #3F5E81;
    border-radius: 2px;
    padding: 5px;
}

.text-area {
    border: 1px solid #3F5E81;
    width: 90%;
    border-radius: 2px;
    padding: 5px;
}

#form-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #f0e5e3;
}

.contact-text {
    font-weight: bold;
    letter-spacing: 1px;
    color: #f0e5e3;
}

#submit-bottom {
    margin-top: 20px;
    border-radius: 2px;
    background-color: #f0e5e3;
    color:#3F5E81;
    padding: 15px 30px;
    font-family: noto serif display, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#submit-bottom:hover {
    background-color: #915E61;
    color: #f0e5e3;
}


#map {
    width: 100%;
    height: 100%;
}

/*footer*/

footer{
    background-color: #915E61;
    min-height: 180px;
    margin:0;
    width: 100%;
    float:left;
}
.address {   
float: right;
color:#F9F8F8;
font-size: 12px;
display: inline-block;
padding: 20px;
}

.times {    
float: right;
font-size: 12px;
color:#F9F8F8;
display: inline-block;
padding: 20px;
}
.social {
    color:#F9F8F8;
    float: right;
    width: 100%;
    text-align: right;
    padding: 0 40px 0 0;
}

.social li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    float: right;
}

.social li a {
    color:#F9F8F8;
}

.social i {
    font-size: 15px;
}

/*For medium screen sizes 950px wide and down*/
@media screen and (max-width: 950px) {

    header {
        height: 120px;
    }

 #menu {
    clear: left;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 25px;
 }
 
 #studio-main {
    width: 90%;
    margin: 0 auto;
 }

 .studio-text, .studio-text-right {
    width: inherit;
 }

.photo-container {
    width: 90%;
    margin: 0 auto;
}

}

/*For medium screen sizes 800px wide and down*/
@media (max-width: 820px) {

    #hero-image {
        margin-top: 130px;
    }

    #contact-container {
      flex-direction: column;
      height: 1200px;
    }

    #studio-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .studio-photo{
        margin: 20px 0%;
    }
  }

  /*For small screen sizes 500px wide and down*/

  @media (max-width: 500px) {
  header {
    background-color: #f0e5e3;
    height: auto;
  }
    #menu li {
    text-align: left;
    float: none;
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
      }
    
    #hero-image {
        display:none;
    }
    #logo{
        font-size: 145%;
    }

    #studio-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        margin-top: 200px;
    }

    .studio-photo{
        margin: 20px 0%;
    }

    #timetable-text, #contact-container {
        margin-top: 60px;
    }

    }